border-radius-bottom-5{
    border-radius: 0 0 25px 25px;
}

input:checked + .slider {
    background-color: #101010;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #101010;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  